#about{
    background-color: #f8f8f8;
}

.about-wrap{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.about-item{
    //300(itemyoko)/1100(inneryoko)=27%
    width: 27%;
    background-color: #fff;
    padding: 3.5rem 3.5vw 5.0rem;

    &:nth-child(n+4){
        margin-top:4.7rem;
    }

    &__title{
        font-size:2.2rem;
        text-align: center;
    }

    &__img{
        width: 12.2rem;
        height: 12.2rem;
        margin: 2.0rem auto 2.5rem;

        img{
            width:100%;
            height:100%;
            
        }
    }

    &__desc{
        font-size: 1.3rem;
    }
}
